.Icon {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 6px;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.Icon-Hover:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.Icon-Hover:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.Icon-image {
  height: 100%;
  width: 100%;
}

.Icon-Label {
	font-family: "Fira Code";
	font-size: 10pt;
	color: #E9E9E9;
	font-weight: 700;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
